# Used by WDv3Tagger
pandas
timm

# Used by LPIPSRun
lpips==0.1.4
matplotlib

# Used by DepthAnythingV2
opencv-python
pydantic

# For my JSON nodes
jmespath

# Probably already provided
huggingface-hub
numpy
pillow
torch
torchvision
pyyaml
